@media only screen and (max-width: 992px) {

body {
		background-image: url("../image/fon/fonmid.jpg");
	}


}

@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 480px) {
	.textcenter{
		padding-top: 100px;
	} 
	body {
		background-image: url("../image/fon/fonmini.jpg");
	}

}
